# bancho.py supports both INET and UNIX sockets
# INET: provide an IP for SERVER_ADDR, and a port for SERVER_PORT
# UNIX: provide a filesystem path for SERVER_ADDR, and no SERVER_PORT
SERVER_ADDR=/tmp/bancho.sock
SERVER_PORT=

DB_DSN=mysql://owouser:owouser@localhost:3306/gulag
REDIS_DSN=redis://localhost

OSU_API_KEY=

DOMAIN=okayu.me
MIRROR_URL=https://kitsu.moe

COMMAND_PREFIX=!

SEASONAL_BGS=https://images7.alphacoders.com/737/737400.jpg,https://images8.alphacoders.com/632/632051.png,https://images4.alphacoders.com/973/973967.jpg,https://images3.alphacoders.com/632/632075.jpg,https://images.alphacoders.com/648/648557.jpg,https://images4.alphacoders.com/987/987919.jpg,https://images4.alphacoders.com/937/937353.png,https://images.alphacoders.com/973/973969.jpg

MENU_ICON_URL=https://osu.okayu.me/static/favicon/logo.png1
MENU_ONCLICK_URL=https://osu.okayu.me

DATADOG_API_KEY=
DATADOG_APP_KEY=

DEBUG=False

# redirect beatmaps, beatmapsets, and forum
# pages of maps to the official osu! website
REDIRECT_OSU_URLS=True

PP_CACHED_ACCS=90,95,98,99,100
PP_CACHED_SCORES=800000,850000,900000,950000,1000000

DISALLOWED_NAMES=mrekk,vaxei,btmc,cookiezi
DISALLOWED_PASSWORDS=password,abc123

DISCORD_AUDIT_LOG_WEBHOOK=
DISCORD_AUDIT_SCORE_WEBHOOK=
DISCORD_AUDIT_NEW_RANKED_WEBHOOK=
DISCORD_AUDIT_NEW_REQUEST_WEBHOOK=

# automatically share information with the primary
# developer of bancho.py (https://github.com/cmyui)
# for debugging & development purposes.
AUTOMATICALLY_REPORT_PROBLEMS=False

# advanced dev settings

## WARNING: only touch this once you've
##          read through what it enables.
##          you could put your server at risk.
DEVELOPER_MODE=False

